# Local .terraform directories
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log


# Terraform plan output
*.tfplan

# Ignore override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

provider.tf
.terraform.lock.hcl
.terraform.*